.root {
  display: flex;
  border-radius: var(--ui-radius-16);
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-8);
  transition: background-color 250ms ease;
}

.root::after {
  transition: transform 250ms ease, border-color 250ms ease, opacity 250ms ease;
  content: "";
  background-color: var(--white);
  border-radius: var(--ui-radius-full);
  transform: translateX(0%);
}

.root[data-state="true"]::after {
  transform: translateX(75%);
}

:global([data-mini-app].apple) .root {
  width: 64px;
  padding: var(--ui-space-2);
}

:global([data-mini-app].apple) .root::after {
  width: 39px;
  height: 24px;
  border-radius: var(--ui-radius-12);
  filter: none;
}

:global([data-mini-app].apple) .root[data-state="false"]::after {
  transform: translateX(0%);
}

:global([data-mini-app].apple) .root[data-state="true"]::after {
  border-color: var(--accent-blue);
  transform: translateX(53%);
}

:global([data-mini-app].apple) .root[data-state="true"] {
  background-color: var(--accent-green);
}

:global([data-mini-app].material) .root {
  width: 32px;
  height: 14px;
}

:global([data-mini-app].material) .root::after {
  width: 16px;
  height: 16px;
  filter: 0;
  border: 2px solid var(--primary-20);
}

:global([data-mini-app].material) .root[data-state="false"]::after {
  transform: translateX(-5%);
}

:global([data-mini-app].material) .root[data-state="true"]::after {
  border-color: var(--accent-blue);
}

:global([data-mini-app].material) .root[data-state="true"] {
  background-color: var(--accent-blue);
}
