.root {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--primary-5);
  border-radius: var(--ui-radius-18);
  padding: var(--ui-space-2);
  overflow: hidden;
  transition: background-color 0.2s ease;
  gap: var(--ui-space-4);
}

.root.fitContent {
  display: grid;
  width: fit-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.root.fitContent .segment {
  width: 100%;
  flex: 0 0 auto;
  padding-right: var(--ui-space-16);
  padding-left: var(--ui-space-16);
}

.root .segment {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary);
  padding: var(--ui-space-6) 0;
  z-index: 1;
  text-align: center;
  transition: color 0.2s ease;
}

.root .segment.active {
  color: var(--primary);
  transition: color 0.2s ease;
}

.root .activeIndicator {
  position: absolute;
  top: var(--ui-space-2);
  left: 0;
  height: calc(100% - var(--ui-space-4));
  background-color: var(--primary-10);
  border-radius: var(--ui-radius-16);
  transition: transform 0.2s ease;
  z-index: 0;
  border: 0;
  box-shadow: none;
  will-change: transform;
}
