.themeSwatch,
.gradientSwatch {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 0.5px solid var(--primary-20);
  border-radius: 50%;
}

.themeSwatch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.light {
  background: var(--swatch-light);
}

.dark {
  background: var(--swatch-dark);
}

.gradientSwatch {
  background: linear-gradient(180deg, var(--gradient-top) 0%, var(--gradient-bottom) 100%);
}
