.root {
  --cell-separator-height: 0.33px;
  --image-cell-offset: 0;
}

:global([data-mini-app].material) {
  --image-cell-offset: -6px;
}

.root:last-child,
.root:has(+ [aria-hidden="true"]:last-child) {
  --cell-separator-height: var(--last-cell-separator-height, 0px);
}

.root {
  --tappable-highlight: var(--primary-5);

  display: flex;
  flex-direction: row;
  color: var(--primary);
  cursor: pointer;
  text-align: start;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.root:focus {
  outline: none;
}

.root:focus-visible {
  background-color: var(--tappable-highlight);
}

.root .start {
  display: flex;
  align-items: center;
}

.root .start .image {
  border-radius: var(--ui-radius-full);
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.root .start .icon {
  display: flex;
  border-radius: var(--ui-radius-full);
  justify-content: center;
  align-items: center;
}

.root .start .icon svg,
.root .start .icon path {
  fill: var(--white);
}

.root .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  border-bottom: var(--cell-separator-height) solid var(--primary-20);
}

.root .end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 var(--ui-space-8);
  padding-right: var(--ui-space-12);
  text-align: right;
  border-bottom: var(--cell-separator-height) solid var(--primary-20);
  white-space: nowrap;
}

.root .end .caption::first-letter {
  text-transform: capitalize;
}

.root .end.received .label, .root .end.received .caption {
  color: var(--accent-green);
}

.root .end.failed .label, .root .end.failed .caption {
  color: var(--accent-red);
}

:global([data-mini-app].apple) .root {
  padding-left: var(--side-padding);
  min-height: 44px;
}

:global([data-mini-app].apple) .root .start {
  padding: var(--ui-space-12) var(--ui-space-10) var(--ui-space-12) 0;
}

:global([data-mini-app].apple) .root .start .icon {
  background: linear-gradient(156.88deg, var(--accent-cyan) 14.96%, var(--accent-blue) 85.04%);
}

:global([data-mini-app].apple) .root .start .icon,
:global([data-mini-app].apple) .root .start .image {
  width: 40px;
  height: 40px;
}

:global([data-mini-app].apple) .root .body {
  min-height: 52px;
  padding: var(--ui-space-10) var(--side-padding) var(--ui-space-9) 0;
}

:global([data-mini-app].apple) .root .body > *:nth-child(2) {
  margin-top: 1px;
}

:global([data-mini-app].apple) .root .body > *:nth-child(3) {
  margin-top: 1px;
}

:global([data-mini-app].apple) .root .body:has(> *:nth-child(3)) > *:nth-child(2) {
  margin-top: 0;
}

:global([data-mini-app].apple) .root .end {
  gap: 1px;
}

:global([data-mini-app].material) .root {
  padding-left: var(--side-padding);
  min-height: 50px;
}

:global([data-mini-app].material) .root .start {
  padding: 7px 15px 7px 0;
}

:global([data-mini-app].material) .root .start .icon {
  background: var(--accent-blue);
}

:global([data-mini-app].material) .root .start .icon,
:global([data-mini-app].material) .root .start .image {
  width: 42px;
  height: 42px;
  margin-left: -6px;
}

:global([data-mini-app].material) .root .body {
  padding: 9px 12px 9px 0;
}

:global([data-mini-app].material) .root .body > *:nth-child(2) {
  margin-top: 2px;
}

:global([data-mini-app].material) .root .body > *:nth-child(3) {
  margin-top: 1px;
}

:global([data-mini-app].material) .root .body:has(> *:nth-child(3)) > *:nth-child(2) {
  margin-top: 0;
}

:global([data-mini-app].material) .root .end {
  gap: 2px;
}
