.buttons {
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px;
  gap: 8px;
  background: var(--surface);
}

:global(body.apple) .buttons svg,
:global(body.apple) .buttons path {
  width: 28px;
  height: 28px;
}

:global(body.apple) .buttons :global(.deslop-material-symbol) {
  font-size: 28px !important;
}

:global(body.material) .buttons {
  background-color: var(--surface);
  box-shadow: 0 0.33px 1px 0 var(--primary-5);
  padding: 0 8px 8px;
}

:global(body.material) .buttons svg,
:global(body.material) .buttons path {
  width: 32px;
  height: 32px;
}

:global(body.material) .buttons :global(.deslop-material-symbol) {
  font-size: 32px !important;
}
