.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: calc(var(--ui-layout-content-inset) + env(safe-area-inset-bottom));
  background-color: transparent;
}

.root section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.root section .card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.root section .container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.root section .container :not(:last-child, :has(+ [aria-hidden="true"]:last-child)) {
  --last-cell-separator-height: var(--cell-separator-height);
}

:global([data-mini-app].apple) .root {
  padding: var(--ui-layout-content-inset);
  gap: var(--ui-layout-section-gap);
}

:global([data-mini-app].apple) .root section .container {
  background-color: var(--elevation-1);
  border-radius: var(--ui-radius-26);
  overflow: hidden;
}

:global([data-mini-app].material) .root {
  padding: var(--ui-space-12);
  padding-bottom: calc(var(--ui-space-12) + env(safe-area-inset-bottom));
  gap: var(--ui-space-12);
}

:global([data-mini-app].material) .root section .card {
  background-color: var(--elevation-1);
  border-radius: var(--ui-radius-16);
  overflow: hidden;
}
