.row {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 8px;
  padding: 16px var(--side-padding);
  overflow: hidden;
  color: var(--primary);
  border-bottom: var(--cell-separator-height) solid var(--primary-20);
}

.row:last-child {
  border-bottom: 0;
}

.sample {
  min-width: max-content;
  font-family: var(--sample-family);
  font-size: var(--sample-font-size);
  font-weight: var(--sample-font-weight);
  line-height: var(--sample-line-height);
  letter-spacing: var(--sample-letter-spacing);
  text-transform: var(--sample-transform);
}

.meta {
  color: var(--primary-60);
}
