.button {
  display: flex;
  flex-direction: column;
  gap: var(--ui-space-2);
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  padding: 7px 0 8px;
  border-radius: var(--ui-radius-12);
}

.button svg,
.button path {
  fill: currentcolor;
}

.button :global(.deslop-material-symbol) {
  font-size: 28px !important;
}

.button.filled {
  background-color: var(--accent-green);
  color: var(--black);
}

.button.tinted {
  background-color: var(--primary-10);
  color: var(--primary);
}

.button.plain {
  background-color: var(--surface);
  color: var(--primary);
}

.button.gray {
  background-color: var(--primary-10);
  color: var(--primary);
}

.button.disabled {
  background-color: var(--primary-10);
  color: var(--primary-30);
}

.button.skeleton {
  --skeleton-inset-bottom: 0px;

  overflow: hidden;
  background-color: transparent;
  color: transparent;
  cursor: default;
}

.button.skeleton svg,
.button.skeleton path,
.button.skeleton :global(.deslop-material-symbol) {
  visibility: hidden;
}

:global([data-mini-app].apple) .button {
  gap: 0;
  padding: var(--ui-space-8) 0;
  border-radius: var(--ui-radius-16);
}

:global([data-mini-app].apple) .button svg,
:global([data-mini-app].apple) .button path {
  width: 28px;
  height: 28px;
}

:global([data-mini-app].material) .button {
  gap: 1px;
  border-radius: var(--ui-radius-16);
}

:global([data-mini-app].material) .button svg,
:global([data-mini-app].material) .button path {
  width: 28px;
  height: 28px;
}
