.root {
  position: relative;
  cursor: pointer;

  --highlight-default: var(--tappable-highlight, var(--primary-20));
}

.fade {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  pointer-events: none;
}

.ripples {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
  pointer-events: none;
}

.ripple {
  position: absolute;
  display: block;
  border-radius: 50%;
  background: var(--highlight-default);
  animation: ripple 600ms cubic-bezier(0.23, 1, 0.32, 1) both, fadeout 600ms ease both;
}

.ripple:last-child.tapped {
  animation: ripple 600ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
