:root {
  --cover-height: min(37vh, 269px);
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--black);
}

.root .cover {
  flex: 0 0 auto;
  height: min(37vh, 269px);
  background-color: var(--black);
  overflow: visible;
  display: flex;
  justify-content: center;
  position: relative;
}

.root .cover .image {
  height: var(--cover-height);
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin-top: calc(var(--cover-height) * 0.12);
  will-change: transform;
}

.root .cover .image.coin {
  background-image: url("../../../assets/images/Coin Image.webp");
}

.root .cover .image.disk {
  background-image: url("../../../assets/images/Disk Image.webp");
}

.root .cover .image.planet {
  background-image: url("../../../assets/images/Death Planet Image.webp");
}

.root .content {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  min-height: calc(100vh - 269px);
  background-color: var(--surface);
  color: var(--primary);
}

.BottomButtons {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 40px;
  padding-bottom: max(env(safe-area-inset-bottom), 8px);
}

.terms {
  text-align: center;
}
