.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  transform-origin: center;
  animation: rotate 1.4s linear infinite;
  width: 24px;
  height: 24px;
}

:global([data-mini-app].apple) .spinner {
  animation-timing-function: steps(8);
}

:global([data-mini-app].apple) .spinner {
  color: var(--primary-60);
}

:global([data-mini-app].material) .spinner {
  color: var(--accent-blue);
}

@media (prefers-reduced-motion) {
  .spinner {
    animation: rotate 10s linear infinite;
  }

  :global([data-mini-app].apple) .spinner {
    animation-timing-function: steps(8);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
